

<highcharts-chart
style="width: 100%; display: block"
[Highcharts]="Highcharts"
[options]="chartOptions"
[(update)]="updateFlag"
[runOutsideAngular]="false"
>
</highcharts-chart>
<div class="btn-group btn-group-sm pl-5">
<button type="button" class="btn btn-primary" (click)="onbtnGroupClick('1')">YTD</button>
<button type="button" class="btn btn-primary" (click)="onbtnGroupClick('2')">3 Months</button>
<button type="button" class="btn btn-primary" (click)="onbtnGroupClick('3')">6 Months</button>
</div>


